.projects-container {
    margin: auto;
    width: 78%;
    position: relative;
}

.projects-title p {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #111111;
    margin-bottom: 1.3rem;
}

.projects-divider {
    content: '';
    position: absolute;
    height: 5px;
    width: 2rem;
    background: #005eb1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.projects-subtext p {
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: 1.3rem;
    font-weight: 500;
    color: #444444;
    margin-top: 3rem;
}

.project-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin-top: 5.5rem;
    align-items: center;
}

.projects-content-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: #111111;
    margin-bottom: 2rem;
}

.projects-content-text {
    color: #666666;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.7;
}