.intro-container {
    /* border: solid 1px blue; */
    height: 100vh;
    min-height: 50rem;
    max-height: 120rem;
    position: relative;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)) center center, url("../../../../public/pattern.svg");
    background-position: center center;
    font-weight: 400;
}

.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    max-width: 90rem;
}

.intro-text {
    /* border: solid 1px red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    max-width: 90rem;
    text-align: center;
}

.intro-text h1 {
    font-size: 3.8rem;
    font-weight: 800;
    color: #111111;
    text-transform: uppercase;
}

.intro-text p {
    /* border: solid 1px blue; */
    width: 60%;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.5rem;
    margin: 0 auto;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
}